.AddCardMenuOption
	cursor: pointer

	display: flex
	align-items: center
	padding: 8px

	&:hover
		> .Name
			color: $link-color

	> .Icon
		width: 20px
		height: 20px
		flex-grow: 0
		flex-shrink: 0

	> .Name
		flex-grow: 1
		flex-shrink: 0
		margin-left: 8px
