.LinkLayer
	pointer-events: none
	absolute-fill()

	.signal
		stroke: $link-color
		stroke-width: 7px
		fill: none
		vector-effect: non-scaling-stroke
		stroke-linejoin: round
		pointer-events: auto

	.svg
		position: absolute
		top: 0
		left: 0
