.LinkLayer
	pointer-events: none
	absolute-fill()

	.signal
		stroke: rgb(51, 125, 163)
		stroke-width: 7px
		fill: none
		vector-effect: non-scaling-stroke
		stroke-linejoin: round
	
	.svg
		position: absolute
		top: 0
		left: 0
		
