.AddCardMenu
	flex-grow: 1

	display: flex
	flex-direction: column

	padding: 12px
	pointer-events: none

	> .Inner
		flex-grow: 1
		overflow: scroll

		width: 100%
		height: 100%
		pointer-events: auto
		border: 2px solid transparent

		background: white
		box-shadow-level(2)
		border-radius: 4px
