@import "nib"
@require "./mixins"
@require "./*/**/*.styl"

*
	box-sizing: border-box


body
	margin: 0
	overflow: hidden
	font-family: "Avenir"


	#root
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
