.CardInput
	display: flex
	height: 32px
	align-items: center
	cursor: pointer

	&:hover
		background-color: $activeCell

	> .SignalIndicator
		flex-grow: 0
		flex-shrink: 0
		margin-right: 8px
		margin-left: 2px

	> .Label
		flex-grow: 1
		flex-shrink: 0
