.Card
	position: absolute
	display: flex

	> .CardInner
		flex-grow: 1

		display: flex
		flex-direction: column

		margin: 12px
		background: white
		box-shadow-level(1)
		border-radius: 4px

		> .Header
			display: flex
			padding: 8px

			> .Icon
				flex-grow: 0
				flex-shrink: 0
				width: 20px
				height: 20px
				border-radius: 4px
				background: #FFA566

			> .Name
				flex-grow: 1
				flex-shrink: 0

				margin-left: 8px
				color: $default-text-color

		> .CardUI
			flex-grow: 1
			flex-shrink: 0
