.Link
	pointer-events: none
	absolute-fill()

	.sel
		stroke: orange !important

	.signal
		stroke: alpha($link-color, 0.5)
		stroke-width: 7px
		fill: none
		vector-effect: non-scaling-stroke
		stroke-linejoin: round
		pointer-events: auto
